#centres {
	list-style-type: none;
}

#canvas {
	width: 96vw;
}

.panel ul {
	width: 96vw;
	list-style-type: none;
	padding: 0;
}

.panel ul li a {
	float: left;
	width: 30vw;
	line-height: 6vh;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: #333;
	border: 1vw solid white;
}
